body {
  background-color: #000;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(234, 234, 234);
}

h3 {
  font-size: 18px;
}

.gray {
    color: rgb(142, 142, 142);
}

.heads {
  font-weight: normal;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

.green {
  color: rgb(181, 232, 83);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#copy {
  font-size: 10px;
  float: right;
}